# Python artifacts
*.pyc
*.pyo
*.egg-info
__pycache__/
*.log
*.pot
*.db
*.sqlite3

# Django artifacts
media/    # If you have a media folder for uploaded files
*.log
db.sqlite3

# Virtual environment
venv/

# IDEs and text editors
*.swp
*.swo
*.swn
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db
