// Theme colors
$theme-main: #FFD4B2;
$theme-accent: #FFF6BD;
$theme-success: #CEEDC7;
$theme-info: #86C8BC;

// Base settings
$base-font: 'Roboto', sans-serif;
$base-bg: $theme-main;

body {
  font-family: $base-font;
  background-color: $base-bg;
}

